<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <div class="nav-links">
        <a href="#home">
            <i class="fa fa-home"></i> Home
        </a>
        <a href="#explore">
            <i class="fa fa-compass" aria-hidden="true"></i> Explore
        </a>
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                Plan Your Visit
            </button>
            <div class="dropdown-content">
                <a href="#">Transport</a>
                <a href="#">Hotel Stays</a>
            </div>
        </div>
        <a href="#education">
            <i class="fa fa-book" aria-hidden="true"></i> Education
        </a>
    </div>

    <div class="icon-container">
        <div class="search-icon">
            <a href="#search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </div>
        <div class="user-icon">
            <a href="#user-profile">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
        </div>
        <div class="book-tickets-container">
            <a href="#about" class="book-tickets">Book Tickets</a>
        </div>
    </div>
</div>
